<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.shop"
	android:name="de.shop.ShopApp"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="17"
		android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/s_app_name"
		android:theme="@style/AppTheme" 
		android:name="ShopApp">
		<activity
			android:name="de.shop.ui.main.Main"
			android:label="@string/s_app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="de.shop.ui.kunde.KundeSuchenId"
			android:label="@string/s_suchen_kunde_id" >
		</activity>
		<activity
			android:name=".ui.kunde.KundenListe"
			android:label="@string/k_kunden_liste_title"
			android:parentActivityName=".ui.main.Main"
			android:exported="false" > <!-- false ist der Defaultwert, da es keinen intent-filter gibt -->
			
			<meta-data
            	android:name="android.app.default_searchable"
            	android:value=".ui.kunde.SucheNachnameActivity" />
		</activity>
		<activity
			android:name="de.shop.ui.artikel.ArtikelSuchenId"
			android:label="@string/s_suchen_artikel_id" >
		</activity>
		<activity
			android:name="de.shop.ui.artikel.ArtikelSuchenBezeichnung"
			android:label="@string/s_suchen_artikel_bezeichnung" >
		</activity>
		<activity
			android:name="de.shop.ui.artikel.ArtikelSuchenArtikelgruppe"
			android:label="@string/s_suchen_artikel_artikelgruppe" >
		</activity>
		<activity
			android:name="de.shop.ui.artikel.ArtikelDetails"
			android:label="@string/a_artikel_details_title" >
		</activity>
		<activity
			android:name=".ui.artikel.ArtikelListe"
			android:label="@string/a_artikel_liste_title"
			android:parentActivityName=".ui.main.Main"
			android:exported="false" > <!-- false ist der Defaultwert, da es keinen intent-filter gibt -->
			
			<meta-data
            	android:name="android.app.default_searchable"
            	android:value=".ui.kunde.SucheBezeichnungActivity" />
		</activity>
		<service
			android:name="de.shop.service.ArtikelService" />
		<service
			android:name="de.shop.service.KundeService" />
		<service
			android:name=".service.NetworkService" />
	</application>

</manifest>
